{{ 'new-footer.css' | asset_url | stylesheet_tag }}

<section>
    <div class="footer-main-wrap">
      <div class="footer-inner-wrap">
        <div class="footer-first-row">
          <div class="footer-heading"><h3>{{section.settings.heading1}}</h3></div>
          <div class="footer-heading"><h3>{{section.settings.heading2}}</h3></div>
          <div class="footer-heading"><h3>{{section.settings.heading3}}</h3></div>
          <div class="footer-heading"><h3></h3></div>
        </div>
        <div class="footer-second-row">
          <div class="footer-second-row-one">
            <div class="footer-logo-wrap">
              <a href="/">
                <img src="{{section.settings.footer-logo |  img_url: 'master' }}" alt="">
              </a>
            </div>
          </div>
          <div class="footer-second-row-two">
            <ul>
              {%- for link in section.settings.menu1.links -%}
                <li>
                  <a href="{{ link.url }}"
                    class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="footer-second-row-three">
            <ul>
              {%- for link in section.settings.menu2.links -%}
                <li>
                  <a href="{{ link.url }}"
                    class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
          <div class="footer-second-row-four">
            <ul>
              {%- for link in section.settings.menu3.links -%}
                <li>
                  <a href="{{ link.url }}"
                    class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
              </ul>
          </div>
        </div>
        <div class="footer-third-row">
          <div class="footer-third-row-one">
            <div class="social-icons-wrap">
              {% for block in section.blocks %}
              <a href="{{block.settings.slink}}" target="_blank">
                <img src="{{block.settings.iconImg |  img_url: '20x20' }}" alt="{{block.settings.alt-text}}">
              </a>
              {% endfor %}
            </div>
          </div>
          <div class="footer-third-row-tow">
            <p>{{section.settings.footer-text}}</p>
          </div>
        </div>
      </div>
    </div>
</section>


{% schema %}
{
    "name": "Footer",
    "settings": [
        {
          "type": "image_picker",
          "id": "footer-logo",
          "label": "Footer Logo"
        },
        {
            "type": "text",
            "id": "heading1",
            "label": "Heading 1"
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading 2"
        },
        {
          "type": "text",
          "id": "heading3",
          "label": "Heading 3"
        },
        {
          "type": "text",
          "id": "heading4",
          "label": "Heading 4"
        },
        {
          "type": "link_list",
          "id": "menu1",
          "label": "First Menu"
        },
        {
          "type": "link_list",
          "id": "menu2",
          "label": "Second Menu"
        },        {
          "type": "link_list",
          "id": "menu3",
          "label": "Third Menu"
        },
        {
          "type": "html",
          "id": "footer-text",
          "label": "Footer Description"
        }
    ],
    "blocks": [
      {
        "name": "Social Icons",
        "type": "images",
        "settings": [
            {
              "type": "image_picker",
              "id": "iconImg",
              "label": "Icon Image"
            },
            {
              "type": "url",
              "id": "slink",
              "label": "URL"
            },
            {
              "type": "text",
              "id": "alt-text",
              "label": "Alt text"
            }
        ]
      }
    ]
}
{% endschema %}